# CMake build and cache files
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# VS Code specific files
.vscode/

# IDE and OS files
*.o
*.a
*.so
*.lo
*.la
*.dll
*.exe
.DS_Store
Thumbs.db